# Node.js
node_modules/
dist/
.env

# Vite cache
.vite/

# Netlify build cache
.netlify/

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor config
.vscode/
.idea/

# Optional: OS-specific
*.swp
